<div class="hero-image" style="background-image:url('/images/bread-bg.jpg')"></div>
	
<div class="hero-content">

	<h1 class="heading -large">Teaching &amp; Learning for Everyone</h1>

	<h2 class="heading -medium">A website to make teaching and learning accessible to all</h2>

	<div class="snippet-wrapper">
	
		<div class="snippet">
			<h3>You Teach</h3>
			<p>Passionate amateur &amp; professional teachers can share their experience &amp; knowledge through in-person classes</p>
		</div>
	
		<div class="snippet">
			<h3>You Learn</h3>
			<p>Students can follow their passions in a flexible &amp; relaxed learning environment that caters to all levels</p>
		</div>
	
	</div>

</div>

<div class="enquire-form" enquire-directive></div>
